<form method="Post" action="/robots">
  <h3>What's my name?</h3><input type="text" name="name">
  <h3>What city am I in?</h3><input type="text" name="city">
  <h3>And the state?</h3><input type="text" name="state">
  <h3>What's my department?</h3><input type="text" name="department"><br/>
  <input type="submit" value="CREATE THAT ROBOT!">
</form>
