<h1>GREETINGS HUMAN. HERE IS INFORMATION ABOUT THIS UNIT.</h1>

<p>NAME: <%= @robot.name %><p>
<p>THIS UNIT OCCUPIES: <%= @robot.city %></p>
<p>WHICH IS IN: <%= @robot.state %></p>
<p>THIS UNIT'S JOB IS: <%= @robot.department %></p>

<a href="/robots">Return to All Robots</a>
